/*html, body, p, h1, h2, h3, h4, h5, h6, em, strong, span, a, p {
    font-family: Helvetica,Arial,sans-serif !important;
}*/
h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 28px;
}
p{
    margin-bottom: 5px;
}
html{
    line-height: 22pt;
    scroll-behavior: smooth;
}
.nopadding_bottom{
    padding-bottom: 0px !important;
}
.nav > li > a{
    font-weight: normal;
}
#header .header-bottom-nav > li > a:after{
    left: -14px;
}
ul.socicalDevmd{
    margin-bottom: 0px !important;
    text-align: center;
}
ul.socicalDevmd li{
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 20px;
    display: inline-block;
    line-height: 22px;
}
ul.socicalDevmd li:last-child{
    margin-right: 0px;
}
ul.socicalDevmd a{
    color: #fff;
    font-size: 13px;
}
.nav-dropdown-has-border .nav-dropdown{
    padding:  0;
}
.header-bottom .header-bottom-nav li ul li a{
    font-size: 15px;
    color: #333;
}
.nopadding_bottom{
    padding_bottom: 0px !important;
}
.rowLineHome > .large-12{
    padding-top: 0px !important;
}
.rowLineHome > .large-12 > .col-inner{
    height: 20px;
    background: url(../img/line.svg)left repeat-x;
    background-size: 23px 100%;
}
.btncenter{
    margin: 0 auto;
    display: table;
}
.btnClack{
    color: #333;
    background-color: #ffcc01 !important; 
    margin-top: 20px; 
}
.colTextBoxHome > .col-inner{
    padding: 0px 50px;
}
.imgautowidth img{
    width: auto;
    margin:  0 auto;
    display: table;
}
.MenuFooter .ux-menu-link a.ux-menu-link__link{
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    padding: 0;
    height: 30px;
    min-height: 37px;
}
.secfooCopyRight{
    border-top: 1px solid rgba(255,255,255,.19);
}
.CreatorCty{
    padding-bottom: 10px !important;
}
#footer .absolute-footer{
    display: none;
}
#logo a img{
    padding-top: 10px;
}
.is-divider{
    display: none;
}
.header-bottom > .flex-row.container{
    border-top: 1px dotted #8e8e8e;
    border-bottom: 1px dotted #8e8e8e;
}
.home .header-bottom > .flex-row.container{
    border-top: none;
    border-bottom: none;
}
.colArchivePost #post-list .entry-content{
    padding-top: 7px;
    padding-bottom: 8px;
}
.colArchivePost .entry-header-text-top{
    padding-bottom: 0px !important;
}
.colArchivePost .article-inner .entry-title{
    color: #c36;
    font-size: 48px;
}
.archive-page-header h1.page-title{
    font-size: 64px;
    margin-bottom: 0;
}
.colArchivePost #post-list .article-inner{
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
}
.page-numbers.nav-pagination li span,
.page-numbers.nav-pagination li a{
    border-radius: 5px !important;
}
.titlSinglePost h1{
    font-size: 64px;
    margin-bottom: 0;
}
#comments #respond{
    border-radius: 10px;
    background-color: #f8f8f8;
}
.ulonBanner ul li{
    list-style-type: none;
    margin-bottom: 20px;
    font-weight: 500;
    /* font-size: 16pt; */
}
.ulonBanner ul li i{
    color: #ffcc01;
    margin-right: 10px;
}
.titBigBanner h1{
    line-height: 80pt;
}
.content-area.page-wrapper .entry-header .entry-title{
    margin-bottom: 15px;
    font-size: 64px;
    color: #1b1751;
}
.slider .flickity-button svg{
    width: 25px;
    height: 33px;
    background-color: #ffffffa8;
    border-radius: 5px;
    padding: 6px;
}
.blog-share .social-icons.share-icons a{
    border-radius: 5px !important;
    color: #a5a5a5;
    line-height: 30px;
}
.WapperContact{
    padding:30px 0;
}
.wapper-contact-center .lable-title{
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 45px;
    color: #011847;
    margin-bottom: 20px;
}
.wapper-contact-center .des-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 50px;
}
.list-contact-method {
    margin: 0;
}
.list-contact-method .item {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.list-contact-method .item img {
    display: block;
    width: 45px;
    height: 45px;
}
.list-contact-method .item>a {
    width: calc(100% - 45px);
    padding-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.contact-service-form .form-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -20px;
}
.menu-contact .contact-service-form .form-group{
    margin-bottom: 15px;
}
.contact-service-form .form-group .field-contact {
    flex: 1;
    margin-right: 20px;
}
.contact-service-form .form-group .field-contact {
    flex: unset;
    width: 100%;
}
.contact-service-form .form-group .field-contact input, .contact-service-form .form-group .field-contact textarea {
    background: #fff;
    border-radius: 10px;
    color: #0d204b;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.contact-service-form .form-group .field-contact input {
    min-height: 44px;
}
.contact-service-form .form-group .field-contact textarea {
    width: 100%;
}
.contact-service-form .form-group .field-contact input::placeholder,
.contact-service-form .form-group .field-contact textarea::placeholder{
    font-size: 13px;
}
.contact-service-form .form-group .field-contact input:focus, .contact-service-form .form-group .field-contact textarea:focus {
    box-shadow: unset;
    outline: unset;
}
.contact-service-form .form-group.flex-end {
    justify-content: flex-end;
}
.contact-service-form .form-group.flex-end .field-btn {
    position: relative;
}
.contact-service-form .form-group.flex-end .field-btn {
    text-align: right;
}
.contact-service-form .form-group .field-btn .wpcf7-submit {
    margin: 0;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    background-color: #ffc200;
    padding-left: 45px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 25px;
    border: 1px solid #ffc200;
    box-shadow: unset;
    height: auto;
    background-image: url(../img/Arrow-dexuat.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    text-transform: inherit;
}
.contact-service-form .form-group .field-btn .wpcf7-submit:hover {
    background-color: #fff;
}
.contact-service-form .form-group.flex-end .field-btn .wpcf7-spinner {
    position: absolute;
    left: 0;
    top: 0;
}
.comments-area{
    display: none;
}
.blog-share{
    margin-top: 15px;
}